.page-nav-bar {
  background: url("../img/timg.jpg") no-repeat
  800px 0px;
  border: none;
  background-size: cover;
/* color: #000 !important; */
}
.page-nav-bar .van-nav-bar__title {
  color: #fff !important;
}
